:root {
  --black: #1d1b1b;
  --white: #fff;
  --vscode-bg: #1e1e1e;
}


body {
  background-color: var(--white);
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
}